:root {
  --main-color: #6e07f3;
  --title-color: #141c3a;
  --font-body-color: #222222;
}

@font-face {
  font-family: "europanuova";
  src: url("../fonts/EuropaNuovaBold.ttf");
}

@font-face {
  font-family: "europa";
  src: url("../fonts/EuropaRegular.ttf");
}

body {
  margin-left: 1%;
  margin-right: 1%;
}
